*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: rgb(2, 43, 28);
}


h2, p {
    font-size: 1.8rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
}

.container {
    background-color: rgb(77, 185, 113);
    padding: 2rem;
    border-radius: 1rem;
    min-height: 60vh;
    width: 50vh;
}

form {
    margin-top: 5rem;
    margin-bottom: 5rem;
}

form select, button, input {
    width: 100%;
    border: none;
    outline: none;
    border-radius: 0.75rem;
}

form input {
    border: 1px solid gray;
    font-size: 1rem;
    height: 3rem;
    padding-left: 0.5rem;
}

.dropdown {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
    
}

.dropdown i {
    font-size: 1.5rem;
    margin-top: 1rem;
}

.select-container img {
    max-width: 6rem;
    min-height: 5rem;
}

.select-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5rem;
    width: 12rem;
    border-radius: 0.5rem;
    border: 1px solid gray;
    
}

.select-container select{
    font-size: 1rem;
    height: 1.5rem;
    padding-left: 0.5rem;
}

.msg {
    margin: 4rem 0 4rem 0;
    font-size: 1.8rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
}

form button {
    height: 3rem;
    background-color: rgb(78, 14, 138);
    color: aliceblue;
    font-size: 1.5rem;
    cursor: pointer;
}