*{
    margin: 0;
    padding: 0;
}

h1{
    margin-top: 5rem;
    font-size: 3rem;
}

body{
    background-color: #548687;
    text-align: center;
}

.container {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}

.box {
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
    font-size: 8vmin;
    color: #b0413e;
    background-color: #ffffc7;
}

#reset-btn{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #191913;
    color: #fff;
    border-radius: 1rem;
    border: none;
}

#new-btn{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #191913;
    color: #fff;
    border-radius: 1rem;
    border: none;
}

#msg{
     background-color: #548687 ;
    font-size: 5vmin;
    color:  #ffffc7;
}

.msg-container {
    height: 20vmin;    
}

.hide {
    display: none;
}  

/* Rock Paper Scissor section starts */

h2{
    margin-top: 5rem;
    font-size: 3rem;
}

.choice {
    height: 165px;
    width: 165px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.choice:hover {
    cursor: pointer;
    background-color: #0b0977;
}


img {
    height: 150px;
    width: 150px;
    object-fit: cover;          /* to make image more clear */
    border-radius: 50%;         /*to convert image border in circle shape */
}

.choices{
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 5rem;
}

.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-top: 3rem;
    gap: 5rem;
}

#user-score, #comp-score{
    font-size: 4rem;
}

.msgrps-container{
    margin-top: 5rem;
    margin-bottom: 5rem;
}

#msgrps{
    background-color: #191913;
    color: #fff;
    font-size: 2rem;
    display: inline;
    padding: 1rem;
    border-radius: 1rem;
}

/* Rock Paper Scissor section ends */